<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>274667778635-akpkgimhbt1omatav9dmka81j5nm66ig.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.274667778635-akpkgimhbt1omatav9dmka81j5nm66ig</string>
	<key>API_KEY</key>
	<string>AIzaSyAwRp-QDUKI3R05sn_C7xxX-GH4y1W5AaU</string>
	<key>GCM_SENDER_ID</key>
	<string>274667778635</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>shawn.depaysment.Collect</string>
	<key>PROJECT_ID</key>
	<string>collect-8dc07</string>
	<key>STORAGE_BUCKET</key>
	<string>collect-8dc07.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:274667778635:ios:bf4d08149e1514bbbc13ce</string>
</dict>
</plist>